## table元素处理
#macro ( analysisTable $childList)
	<table id="$childList.getAttributeValue('htmlId')" style="$!{childList.getAttributeValue('style')}">
		#tableTrTd($childList)
	</table>
#end

## easyui 列表元素
#macro ( analysisListTable $childList)
	<table id="$childList.getAttributeValue('htmlId')" style="$childList.getAttributeValue('style')" class="$childList.getAttributeValue('class')"
			title="$childList.getAttributeValue('title')" data-options="$childList.getAttributeValue('data-options')">
		#set($rows=$childList.getChildren("rows")[0])
		#set($columns=$childList.getChildren("columns")[0])
		#if($rows.getChildren("row").size()>0)
			#set($rowNum=0)
			#foreach ( $row in $rows.getChildren("row") )
				<thead>
            		<tr id="$row.getAttributeValue('htmlId')">
            			#foreach ( $column in $columns.getChildren("column") )
            				<th data-options="$column.getAttributeValue('data-options')">$column.getAttributeValue('title')</th>
            			#end
		            </tr>
		        </thead>
		    #end
	    #end
	</table>
	
#end